<div class="container">
  <div class="ui card">

    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{member}}</li>
    </ul>

    <div class="add-members-container">
      <input #addMemberInput type="text" (input)="onInput(addMemberInput.value)" [value]="newMemberName"
        placeholder="Enter Team Member Name">
      <button (click)="add()">Add</button>
    </div>

    <div class="input-container">
      <input type="text" placeholder="# of teams">
      <button (click)="generate()">Generate</button>
    </div>
    <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
  </div>

</div>